.form-login{
  display: grid;
  grid-template-areas: 
   "email"
   "password"
   "enter";
  gap: 1rem;
}

.input-email{
  grid-area: email;
  cursor: text;
}

.input-password{
  grid-area: password;
  cursor: text;
}

.btn-enter{
  grid-area: enter;
  justify-self: end;
  width: 7rem;
}

.message-error{
  text-align: center;
  margin-top: 5rem;
  color: #D42222;
  display: block;
}

@media only screen and (min-width: 600px) {
  .message-error{
    font-size: 2rem;
  }
}

@media only screen and (min-width: 912px) {
  .enter{
    width: 6vw;
  }

  .btn-input-wb .input-size{
    width: 22vw;
  }
  
}
