@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

.font-margin{
  font-family: 'Emilys Candy', cursive;
}

.background-h-r-l{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.d-w{
  display: none;
}

.position-card{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: #FFFFFF;
  width: 80vw;
  height: 90vh;
  min-height: 80vh;
  border: 0.3rem solid #B98DD6;
  border-radius: 1rem;
  display: grid;
  place-items: center;
}

.position-header{
  display: grid;
  grid-template-areas:
    "arrow logo empty";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.arrow{
  grid-area: arrow;
  justify-self: start;
  border: none;
  background-color: #ffffff;
}

.logo{
  grid-area: logo;
  width: 20vw;
}

.form{
  display: grid;
  place-items: center;
}

.btn-input-wb{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 55vw;
  height: 5vh;
  border: 0.2rem solid #55CBCD;
  background-color: #FFFFFF;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.icon-login{
  width: 6vw;
}

button:active{
  opacity: 0.8;
}

.btn-purple{
  height: 4vh;
  background-color: #6A4085;
  border: none;
  color:#FFFFFF;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.sobre{
  color:#6A4085;
  cursor: pointer;
  font-family: 'Emilys Candy', cursive;
}

@media only screen and (min-width: 600px) {
  .img-seta {
    width: 6vw;
  }

  .btn-input-wb{
    width: 31vw;
    font-size: 1.8rem;
  }

  .icon-login{
    width: 4vw;
  }

  .btn-purple{
    height: 4vh;
  }

  .sobre{
    font-size: 2.3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .d-w{
    display: block;
    position: fixed;
    margin: 35rem -1rem;
    width: 25vw;
  }

  .position-card{
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 5rem;
  }

  .card{
    width: 40%;
  }

  .arrow{
    display: none;
  }

  .logo{
    width: 8vw;
  }

  .btn-input-wb{
    width: 18vw;
    font-size: 1.8rem;
  }

  .icon-login{
    width: 2vw;
  }

  .btn-purple{
    font-size: 1.8rem;
    width: 9vw;
    height: 5vh;
  }
  
}

@media only screen and (min-width: 1366px) {
  .d-w{
    margin: 48rem 1rem;
  }
  .btn-input-wb{
    width: 13vw;
    font-size: 2rem;
  }
}
